@media (max-width: 992px) {
    
    .welcome > h1 {
        font-size: 50px;
    }

    .welcome > h2 {
        font-size: 30px;
    }

    /* =========================================== */
    .about:nth-of-type(odd) {
        flex-direction: row-reverse;
    }

    .about:nth-of-type(odd) h3, 
    .about:nth-of-type(odd) p {
        text-align: left;
    }

    .about > div:last-child {
        display: none;
    }

    .july {
        align-items: flex-start;
    }
    .about:last-child h3 {
        text-align: center;
    }

}

@media (max-width: 768px) {
    .welcome > h1 {
        font-size: 40px;
    }

    .welcome > h2 {
        font-size: 25px;
    }

    /* =========================================== */

    .about:nth-of-type(odd), 
    .about:nth-of-type(even) {
        flex-direction: column-reverse;
    }

    .about:nth-of-type(odd) h3, 
    .about:nth-of-type(odd) p {
        text-align: center;
    }

    .about:nth-of-type(even) h3, 
    .about:nth-of-type(even) p {
        text-align: center;
    }

    .july {
        align-items: center;
    }

    .about:nth-of-type(even) > .july {
        align-items: center;
    }

    .about_img {
        flex-direction: row;
    }
    
    .about_img > div {
        
        width: 100%;
        height: 7px;
    }

    .about_img img { 
        margin: 0;
    }

    .about:nth-of-type(1) > .about_img > div:first-child {
        background: rgb(241, 241, 241); 
    }

    .about:last-child > .about_img > div:last-child {
        display: block;
    }

    .about:last-child .img {
        margin: 0;
    }

    /* =========================================== */

    .contact form > div > input {
        margin-bottom: 20px;
    }

    /* =========================================== */

    footer p {
        text-align: center;
        margin-top: 20px;
    }

    footer > div {
        flex-direction: column-reverse;
    }

    footer > div > div {
        justify-content: center;
    }

}

@media (max-width: 576px) {
    
    .welcome > h1 {
        font-size: 35px;
    }

    .welcome > h2 {
        font-size: 20px;
    }
}